body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}

.cabecera{
    width: 1000px;
    margin: 0 auto;
    border: 1px solid black;
    padding-left: 40px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.cabecera .contenedor{
    display: flex;
    align-items: center;
}

.cabecera p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: 900;
    margin: 0 auto;
}

.cabecera img{
    width: 50px;
    height: 50px;
}

.cuerpe{
    padding-left: 40px;
    padding-bottom: 40px;
    border: 1px solid black; 
    width: 1000px;
    margin: 0 auto;
}

.titulo{
    font-size: 50px;
    color: teal;
}

.texto{
    color: darkviolet;
    font-size: 30px;
}

.contenido{
    background-color: aquamarine;
    border: 1px solid red;
    border-radius: 10px;
    width: 250px;
    margin: 0 auto;
}

.contenido p{
    text-align: center;
}